:root{
    --header-font-size: 1rem;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    height: 100vh;
}

body > *:not(.heading-bar, .heading-bar-outer-wrap, .header-nav-bar, .header-nav-bar li){
    margin-left: 2%;
}

.heading-bar{
    display: flex;
    background-color: lightgray;
    height: clamp(60px, 11%, 100px);
    justify-content: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    margin-top: 10px;
}

.heading-bar-outer-wrap{
    display: flex;
    height: 100%;
    width: 95%;
}

.header-nav-bar{
    display: flex;
    list-style-type: none;
    height: 100%;
    margin: 0;
    justify-content: center;
}

.header-nav-bar li,
.Home_Page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    font-size: var(--header-font-size);
    flex-grow: 1;
}

.Home_Page{
    justify-content: flex-start;
    margin-left: 20px;
}

a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 570;
    height: 100%;
    padding: 15px;
}

.Home_Page_Link{
    width: clamp(65px, 100px, 120px);
}

.fa-home{
    font-size: 1.8rem;
}

.fa-home, 
a{
    color: #333333;
    transition: 0.3s ease;
    will-change: font-size, background-color;

}

*[href="#"]{
    background-color: white;
}

.heading-bar-outer-wrap a:hover,
.heading-bar-outer-wrap a:focus{
    background-color: white;
    font-size: calc(var(--header-font-size) + 0.1rem);
}

.heading-bar-outer-wrap a:hover i,
.heading-bar-outer-wrap a:focus i{
    font-size: calc(var(--header-font-size) + 1.2rem);
}